@font-face {
    font-family: 'rimwordfontregular';
    src: url('rimwordfont-webfont.woff2') format('woff2'),
         url('rimwordfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.RIM{
    font-family: 'rimwordfontregular';
    text-align: center;
}

body{
    color: aliceblue;
    font-family: 'Montserrat', Arial, Verdana;
    background-image: url('background.jpg');
    background-position: top;
    background-size: unset;
}

.container{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: solid rgb(51, 51, 51) 1px;
    background-color: rgb(20,23, 26);
}